.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(0.25rem); 

    nav{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 2rem; 
        padding-right: 2rem;
    }

    &__logo{
        img{
            border-radius: 50%;
            margin: 0;
            height: 4rem;
            
        }
    }

    &__categories{
        a{
            padding: 0.5em;
            padding-left: 1em;
            padding-right: 1em;
            font-weight: 700;
            text-decoration: none;
            color: white;
        }

        .cate{
            transition: border 300ms ease-in-out;

            &:hover{
                border-style: dashed;
            }
        }

        .button{
            border-radius: 7rem;
            margin-left: 0.5em;
            background: transparent;
            border-color: white;
            border:solid;
            color: white;
            font-size: 100%;
            transition: all 300ms ease-in-out;

            &:hover{
                border-style: dashed;
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

    &__menu{
        width: 2.5rem;
        height: 2.5rem;
        border-color: transparent;
        flex-direction: column;
        transition: border 300ms ease-in-out;
        cursor: pointer;

        &:hover{
            border: 0.125rem dashed white;
        }
               
        
        span{
            margin-left: 0.0625rem;
            display: block;
            background-color: white;
            width: 1.4375rem;
            height: 0.1875rem;
            transition: all 300ms ease-in-out;
            transform-origin: left center;
        

            &:not(:last-child){
                margin-bottom: 0.25rem;
            }
        }   
        
        &.open {
           span{
               margin-left: 0.3em;
           }
            span:first-child{
                transform:rotate(39deg);
            }

            span:nth-child(2){
                opacity:0;
            }

            span:last-child{
                transform:rotate(-39deg);
            }
        }
    }
}


.display{
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    &::after{
        opacity: 1;
    }
    
}

.overlaymenu{
    
    .overlay{
        z-index: 4;
        position: absolute;
        min-height: 100vh;
        width: 0;
        background-color: #28313b;
        opacity: 0.9;
        transition: all 300ms ease-in-out;


        &__categories{
            gap: 0.5em;
            padding-top: 6rem;
            padding-left: 23%;
            padding-right: 23%;
            height: 100vh;
            width: 70%;
            text-align: center;
            background-color: black;
            overflow: hidden;         
            flex-direction: column;

            .button{
                margin: 0%;
            }
        }
    }


    .overlaycategories{
        width: 100%;
    }
}
